<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AtlasShoppingDBO"
			 connectionString="Data Source=AlfredoXPS\SQLEXPRESS;
							   Initial Catalog=AtlasShopping;
							   Integrated Security=True;
							   TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>